<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  {% if page.title == '/' %}
    <title>VirtualStruct (hihebark)</title>
  {% else %}
    <title>VirtualStruct - ~/Posts/{{ page.title }}.md</title>
  {% endif %}
  {%- seo title=false -%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Blaka+Ink&family=UnifrakturMaguntia&display=swap" rel="stylesheet"> 

  {%- if site.listen_for_clients_preferred_style -%}
    <link rel="stylesheet" type="text/css" href="{{ "/assets/main.css" | relative_url }}">
  {%- else -%}
    {%- if site.style == 'light' -%}
     <link rel="stylesheet" type="text/css" href="{{ "/assets/main-light.css" | relative_url }}">
   {%- else -%}
      <link rel="stylesheet" type="text/css" href="{{ "/assets/main-dark.css" | relative_url }}">
    {%- endif -%}
  {%- endif -%}

</head>
