---
import Layout from '../layouts/Layout.astro';
---
<Layout title="VirtualStruct &mdash; 404">
  <div class="page-404">
    <p class="err-code">404</p>
    <div class="err-output">
      <p class="tline">$ cd /requested-path</p>
      <p class="err">bash: cd: /requested-path: No such file or directory</p>
    </div>
    <p class="err-hint">
      $ <a href="/">cd ~/Index</a> <span class="blink">&#9608;</span>
    </p>
  </div>
</Layout>
