---
import Layout from '../layouts/Layout.astro';
---
<Layout title="VirtualStruct" ogTitle="VirtualStruct">
  <div class="terminal">
    <div class="terminal-bar">
      <i></i><i></i><i></i>
      <span>virtualstruct@portfolio:~$</span>
    </div>
    <div class="terminal-body">
      <p class="tline">$ fetch --sys</p>
      <p class="tout"><span class="g">Name</span>: Amara Nezli</p>
      <p class="tout"><span class="g">Role</span>: Backend Developer</p>
      <p class="tout"><span class="g">Experience</span>: 5+ years</p>
      <p class="tout"><span class="g">Status</span>: Open to opportunities</p>
      <p class="tdim"></p>

    </div>
  </div>
</Layout>
