---
import Layout from '../layouts/Layout.astro';
---
<Layout title="VirtualStruct" ogTitle="VirtualStruct">
  <div class="terminal">
    <div class="terminal-bar">
      <i></i><i></i><i></i>
      <span>bash &mdash; 80&times;24</span>
    </div>
    <div class="terminal-body"></div>
  </div>
</Layout>
